<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Meta hOS</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CodePushDeploymentKey</key>
	<string>g4XkHs9M8IRNCoOOrXdudDS1T91fR7SXzhYPR</string>
	<key>CodePushPublicKey</key>
	<string>-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAzoiC2W3JQSPWKbgBflkO
F4GR56wyB282BugEH8EENoDXe6SopRFjOBC+wzQhcLpt5XK12IBM15i8XOdvA1Fn
PNG4y8VBrdl86hCFS3f/7LV9jujiCCcn0ir6iIAHQ9hMhZiD73SEL5aSRtjIYmAh
5Hw6ZESXwMGprPX2EezFUPwHsa09TmFmiDshhnN+RYdKxPNtN6TYg76aQLetxGde
ycMs6IwiMSE2uuhK1r64n6nHFXSAikDNhpinZafeYG0bf0BlBJL75/fRsh3RWbh9
n12W5pnCXYJKz6QZJqJ0EfFK38o168hEXTIGmzOUK1YMJdc6KU3rJCWrVBOXAXCX
SQIDAQAB
-----END PUBLIC KEY-----</string>
<key>UIAppFonts</key>
    <array>
      <string>Ionicons.ttf</string>
    </array>
</dict>
</plist>
